.button {
    height: 2rem;
    width: 7rem;
    border-radius: 4px;
    outline: none;
    background: var(--bg-col);
    outline: none;
    color: #000;
    letter-spacing: 1px;
    border: solid 1px #9b9b9b;
    cursor: pointer;
    position: relative;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
    opacity: .9;
}


.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--sec-col);
    transform: scaleY(0);
    transform-origin: 10% 0%;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.button:hover,
.button:focus,
.button:active {
    color: white;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52,
            1.64,
            0.37,
            0.66);
}